
*.Release

src/.idea/misc.xml

gui/gucc.pro.user

gui/gucc.pro.user.07721cd

gui/gucc.pro.user

src/.idea/modules.xml

src/.idea/src.iml

src/.idea/workspace.xml

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.obj/UCCThread.o

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.moc/moc_GAsciiDialog.cpp

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.moc/moc_GMainWindow.cpp

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.moc/moc_GExtensionDialog.cpp

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.moc/moc_GSideBySideDialog.cpp

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.moc/moc_UserIF.cpp

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.moc/moc_GTableDialog.cpp

*.o

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.qmake.stash

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.ui/ui_GAsciiDialog.h

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.ui/ui_GMainWindow.h

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.ui/ui_GExtensionDialog.h

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/.ui/ui_GTableDialog.h

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/GUCC.app/Contents/MacOS/GUCC

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/GUCC.app/Contents/Resources/empty.lproj

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/GUCC.app/Contents/PkgInfo

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/debug/qrc_gucc.cpp

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/Makefile

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/Makefile.Debug

gui/gucc.pro.user

src/CMakeLists.txt

UCC

build-gucc-Desktop_Qt_5_7_0_clang_64bit-Debug/GUCC.app/Contents/MacOS/UCC_Performance__10222016_102707.txt
